ol li:nth-child(1) {
  list-style-type: "📞";
}
ol li:nth-child(2) {
  list-style-type: "⏳";
}
ol li:nth-child(3) {
  list-style-type: "🌍";
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
